<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Quiz Time - Test your knowledge with our interactive quiz platform">
    <title>Quiz Time - Test Your Knowledge</title>
    <link rel="stylesheet" href="{% static 'css/test_info.css' %}">
</head>
<body>
    <div id="screenshot-overlay"></div>
    <header>
        <nav>
            <div class="name">
                <div class="img">
                    <img src="{% static 'source/hugeicons_quiz-01.png' %}" alt="Quiz Time Logo">
                </div>
                <div class="username">
                    <h4>User Name</h4>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="quiz-container">
            <section class="quiz-middle">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="test_code" value="{{ test_code }}">
                    <h1>Test Information</h1>
                    <div class="quiz-question">
                        <label for="Test_name" style="font-size: 20px; font-weight: bold; color: #333;"><h4>Test Name</h4></label>
                        <input type="text" name="test_name" id="test_name" class="test_info" placeholder="Name of the Test">
                        <label class="quiz-option">
                        <label for="Test_id" style="font-size: 20px; font-weight: bold; color: #333;"><h4>Number of question</h4></label>
                        <input type="number" name="NofQ" id="NofQ" class="test_info" placeholder="Number of question">
                        </label>
                        <br>
                        <br>
                        <label class="quiz-option">
                        <label for="Test_time" style="font-size: 20px; font-weight: bold; color: #333;"><h4>Test Time(in minutes)</h4></label>
                        <input type="number" name="test_time" id="test_time" class="test_info" placeholder="Test Time">
                        </label>
                        <br>
                        <div class="btn-next">
                            <input type='file' id = 'real-btn' accept="text/plain" name = 'file' hidden = 'hidden'>
                            <button type="button" class="submit-btn" id = 'click-btn'>Choose File</button>
                        </div>
                        <br>
                        <label class="quiz-option">
                        <label for="Test_time" style="font-size: 20px; font-weight: bold; color: #333;"><h4>Test Code</h4></label>
                        <input type="text" name="test_code" id="test_code" class="test_info" value="{{test_code}}" readonly>
                        <img src="{% static 'source/copy.png' %}" alt="Copy" class="copy_icon"onclick="copy_test_code()">
                        </label>
                    </div>
                    <br>
                    <div class="quiz-controls">
                        <div class="btn-next">
                            <button type="submit" class="submit-btn">Submit</button>
                        </div>
                        <div class="btn-next">
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </main>
    <script>
        function copy_test_code(){
            var test_code = document.getElementById('test_code').value;
            navigator.clipboard.writeText(test_code);
        }
        const realbtn = document.getElementById('real-btn');
        const clickbtn = document.getElementById('click-btn');

        clickbtn.addEventListener('click',function() {
            realbtn.click();
        })

    </script>
</body>
</html>