<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Quiz Time - Test your knowledge with our interactive quiz platform">
    <title>Quiz Time - Test Your Knowledge</title>
    <link rel="stylesheet" href="{% static 'css/test_info.css' %}">
</head>
<body>
    <div id="screenshot-overlay"></div>
    <header>
        <nav>
            <div class="name">
                <div class="img">
                    <img src="{% static 'source/hugeicons_quiz-01.png' %}" alt="Quiz Time Logo">
                </div>
                <div class="username">
                    <h4>User Name</h4>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="quiz-container">
            <section class="quiz-middle">
                <form action="" method="post">
                    {% csrf_token %}
                    <h1>Join Class</h1>
                    <div class="quiz-question">
                        <input type="text" name="Nofs" id="test_name" class="test_info" placeholder="Name of the Student" required>
                        <input type="number" name="PRN" id="test_name" class="test_info" placeholder="PRN" required>
                        <br>
                        <br>
                        <label class="quiz-option">
                        <label for="Test_id" style="font-size: 20px; font-weight: bold; color: #333;"><h4>Section</h4></label>
                        <input type="text" name="section_cla" id="NofQ" class="test_info" placeholder="ex : A or B or C ...." required>
                        </label>
                        <br>
                        <br>
                        <label class="quiz-option">
                        <label for="Test_time" style="font-size: 20px; font-weight: bold; color: #333;"><h4>Roll no.</h4></label>
                        <input type="text" name="RollN" id="test_time" class="test_info" placeholder="ex : 251 ,2 ,451...." required>
                        </label>
                        <br>
                        <br>
                        <label class="quiz-option">
                        <label for="Test_time" style="font-size: 20px; font-weight: bold; color: #333;"><h4>Class Code</h4></label>
                        <input type="text" name="Class_code" id="test_code" class="test_info" placeholder = 'ex : f1Re9DX1x7' required>
                        <img src="{% static 'source/copy.png' %}" alt="Copy" class="copy_icon"onclick="copy_test_code()">
                        </label>
                    </div>
                    <br>
                    <div class="quiz-controls">
                        <div class="btn-next">
                            <button type="submit" class="submit-btn">Submit Answer</button>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </main>
    <script>
        function copy_test_code(){
            var test_code = document.getElementById('test_code').value;
            navigator.clipboard.writeText(test_code);
        }
    </script>
</body>
</html>